/* ===========================428======================= */
@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
  /* ================HERO=========== */
  .hero-title {
    font-size: 36px;
    max-width: 320px;
    margin: 0 auto 72px;
  }

  /* ================MOBILE MENU=========== */
  .mobile-menu-soc-list {
    display: flex;
    justify-content: initial;
    gap: 56px;
  }

  .mobile-menu-address-phone {
    font-size: 36px;
  }

  /* ====================CUSTOMERS==================== */
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
  }

  .customers-item:not(:last-child) {
    margin-bottom: 0;
  }

  /* ====================FOOTER==================== */
  .footer-thumb {
    max-width: 428px;
  }

  .footer-modal-form-input {
    width: 398px;
  }

  /* ====================MODAL WINDOW==================== */
  .modal {
    width: 408px;
  }

  .modal-form-text {
    font-size: 16px;
  }

  .modal-form-check-desc {
    font-size: 12px;
  }
}

/* ===========================768======================= */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* ================HEADER=========== */
  .header-section {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .navigation {
    display: flex;
    gap: 120px;
  }
  .navigation-list {
    display: flex;
    gap: 40px;
  }

  .current::after {
    position: absolute;
    bottom: -38px;
    transform: translateX(-100%);
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .navigation-item .current {
    color: #404bbf;
  }

  .mobile-menu-open {
    display: none;
  }

  .navigation-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    transition: color var(--transition-dur-func);
  }

  .navigation-link:hover,
  .navigation-link:focus {
    color: var(--active-link-color);
  }

  .address {
    display: block;
    font-style: normal;
    margin-left: auto;
  }

  .address-item:not(:last-child) {
    margin-bottom: 12px;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--secondary-color);
    transition: color var(--transition-dur-func);
  }

  .address-link:hover,
  .address-link:focus {
    color: var(--active-link-color);
  }

  /* ================HERO=========== */
  .hero {
    max-width: 768px;
    max-height: 436px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-page-images/hero-images/hero-img-tablet.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/main-page-images/hero-images/hero-img-tablet@2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px;
  }

  /* ================VALUES=========== */
  .chapter-subtitle {
    text-align: left;
  }

  .values-list {
    display: flex;
    flex-wrap: wrap;
  }

  .values-item {
    flex-basis: calc(100% / 2 - 12px);
  }

  .values-item:nth-child(2n + 2) {
    margin-left: var(--item-gap);
  }

  .values-item:nth-child(3) {
    margin-bottom: 0;
  }

  /* ====================OUR TEAM==================== */
  .team-container {
    max-width: 552px;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 24px;
  }

  .team-item:nth-child(-n + 2) {
    margin-bottom: 64px;
  }

  .team-item:nth-child(3) {
    margin-bottom: 0;
  }

  /* ====================CUSTOMERS==================== */
  .customers-container {
    max-width: 552px;
    margin: 0 auto;
  }

  .customers-list {
    gap: 72px 24px;
  }

  .customers-item {
    width: 168px;
  }

  /* ====================FOOTER==================== */
  .footer-thumb {
    max-width: 552px;
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .page-end-text {
    width: 264px;
    margin-bottom: 0;
  }

  .footer-box-soc-media {
    margin-bottom: 0;
  }

  .footer-modal-form-text {
    text-align: left;
  }

  .footer-modal-form {
    display: flex;
  }

  .footer-modal-form-input {
    width: 264px;
    margin-right: 24px;
    margin-bottom: 0;
  }

  /* ====================MODAL WINDOW==================== */
  .modal {
    padding: 72px 25px 24px 23px;
  }
}

/* ===========================1158======================= */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  /* =========COMPONENTS===== */
  .chapter-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .chapter-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
  }

  .section {
    padding-bottom: 120px;
  }

  /* ==================HEADER================== */
  .current::after {
    position: absolute;
    bottom: -40px;
    transform: translateX(-100%);
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .header-section {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .navigation {
    gap: 76px;
  }

  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* ==================HERO================== */
  .hero {
    padding: 188px 0;
    max-width: 1440px;
    max-height: 600px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-page-images/hero-images/hero-img-decktop.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/main-page-images/hero-images/hero-img-decktop@2x.jpg);
    }
  }

  .hero-title {
    margin: 0 auto 48px;
  }

  .hero-button {
    transition: background-color var(--transition-dur-func);
  }

  .hero-button:hover,
  .hero-button:focus {
    background-color: var(--active-link-color);
  }

  /* ==================VALUES================== */
  .values {
    padding-top: 120px;
  }

  .values-box {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: var(--tretiary-background-color);
    border-radius: 4px;
  }

  .values-list {
    display: flex;
    flex-wrap: nowrap;
  }

  .values-item {
    flex-basis: calc(100% / 4);
  }

  .values-item:not(:first-child) {
    margin-left: var(--item-gap);
  }

  .values-item {
    margin-bottom: 0;
  }

  /* ====================ACTIVITY==================== */
  .activity {
    display: block;
  }

  .activity-chapter {
    margin-bottom: 72px;
  }

  .activity-list {
    display: flex;
  }

  .activity-item {
    flex-basis: calc(100% / 3);
  }

  .activity-item:not(:first-child) {
    margin-left: var(--item-gap);
  }

  /* ====================OUR TEAM==================== */
  .team-container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .team {
    padding-top: 120px;
  }

  .team-list {
    flex-wrap: nowrap;
  }

  .team-item {
    flex-basis: calc(100% / 4);
    margin-bottom: 0;
  }

  .team-item:nth-child(-n + 2) {
    margin-bottom: 0;
  }

  .team-soc-link {
    transition: background-color var(--transition-dur-func);
  }

  .team-soc-link:hover,
  .team-soc-link:focus {
    background-color: #404bbf;
  }

  /* ====================CUSTOMERS==================== */
  .customers {
    padding-top: 120px;
  }

  .customers-container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .customers-item {
    width: 168px;
    height: 88px;
  }

  .customers-icon {
    width: 104px;
    height: 56px;
  }

  .customers-link {
    transition: color var(--transition-dur-func),
      border var(--transition-dur-func);
  }

  .customers-link:hover,
  .customers-link:focus {
    color: #404bbf;
    border: 1px solid #404bbf;
  }

  /* ====================FOOTER==================== */
  .page-end {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-thumb {
    max-width: 1158px;
    gap: 0;
  }

  .footer-box-logo-text {
    margin-right: 120px;
  }

  .footer-box-soc-media {
    margin-right: 80px;
  }

  /* ====================MODAL WINDOW==================== */
  .modal {
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}
